Resources:
    PhotoAlbumTable:
        Type: AWS::DynamoDB::Table
        Properties:
            KeySchema: 
                HashKeyElement:
                    AttributeName: "album_id"
                    AttributeType: "S"
            ProvisionedThroughput:
                ReadCapacityUnits: 1
                WriteCapacityUnits: 1
container_commands:
    populate_s3:
        command: "python2.7 scripts/populate_s3.py"
        leader_only: true
files:
    "/var/app/app.config":
        mode: "000444"
        owner: "apache"
        group: "apache"
        content: |
            AWS_REGION = '`{ "Ref" : "AWS::Region"}`'
            Photo_Album_Table = '`{ "Ref" : "PhotoAlbumTable"}`'
option_settings:
    "aws:elasticbeanstalk:container:python":
        "WSGIPath": "application.py"
    "aws:elasticbeanstalk:application:environment":
        "APP_CONFIG": "/var/app/app.config"
    "aws:elasticbeanstalk:container:python:staticfiles":
        "/static/": "static/"
